page-casinos {
  .categoria-general {
    background-color: $theme-color-1;
  }

  .categoria-vegetariano {
    background-color: #619713;
  }

  .categoria-embarazada  {
    background-color: #e3bd6d;
  }

  .categoria-hipocalorico  {
    background-color: #88b2dd;
  }

  .menu-item {
    border-radius: 5px;

    .menu-titulo {
      color: $white;
      font-weight: 500;
    }

    .menu-texto {
      color: $white;
    }
  }

  .casinos-segment {
    padding: 14px 0px;
    background-color: $white;
    @include element-shadow();

    @include segment-button-styles($theme-color-2);

    .segment-button {
      @include segment-text-styles($white-d);
    }
  }
}
