<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-content class="menu-content">
    <ion-list class="menu-list">
      <button no-padding class="boton-logo">
        <ion-card detail-none class="menu-logo">
          <preload-image [ratio]="{ w: 1, h: 0.5 } " src="./assets/images/logos/logo_uv.png"></preload-image>
        </ion-card>
      </button>
      <button ion-item detail-none *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon *ngIf="page.icon" name="{{ page.icon }}" item-left></ion-icon>
        {{ page.title }}
      </button>
      <button ion-item detail-none *ngFor="let page of pushPages" (click)="pushPage(page)">
        <ion-icon *ngIf="page.icon" name="{{ page.icon }}" item-left></ion-icon>
        {{ page.title }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>