<ion-header class="listing-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="header-logo">
        <preload-image [ratio]="{ w: 1, h: 1 }" src="./assets/images/logos/logo_apptui.png" class="logo_app"></preload-image>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="feed-content">
  <h4 class="categories-title">Novedades</h4>
  <ion-card class="item-info" *ngIf="novedades?.length == 0">
    <ion-card-content>
      <p class="item-text">
        <ion-icon name="information-circle"></ion-icon>&nbsp;
        No existen novedades hasta la fecha.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="feed-item" *ngFor="let item of novedades">
    <preload-image [ratio]="{ w: 3, h: 2 }" [src]="item?.imagen"></preload-image>
    <ion-card-content>
      <ion-card-title class="item-title">
        {{ item?.titulo }}
      </ion-card-title>
      <p class="item-text">
        {{ item?.cuerpo }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>